{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Редактирование категории</h1>

    <form method="post" class="mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Сохранить</button>
        <a href="{% url 'categories' %}" class="btn btn-secondary">Назад</a>
    </form>

    <hr>

    <form method="post">
        {% csrf_token %}
        <button name="delete" class="btn btn-danger"
                onclick="return confirm('Точно удалить категорию?')">
            Удалить
        </button>
    </form>
</div>
{% endblock %}
